################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/obj
/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
/.vs/WebApplication1/v17
